{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>

    <div class="mb4">
      <h4 class="f3 b lh-title mb3 tc">Dummy testing </h4>
    
      <div class="product">
        <h2 class="product__name">Dummy Product</h2>
        <img class="product__image" src="https://vibrant-wescoff-8f9e5c.netlify.com/img/products-grid3.jpg" alt="">
        <p class="product__description">Dummy description</p>
        <div class="product__button-container">
          <div class="product__price">€12.95</div>
          <button
            class="btn snipcart-add-item buy-button"
            data-item-id="DUMMY_PRODUCT"
            data-item-name="DUMMY_PRODUCT"
            data-item-price="12.95"
            data-item-url="https://vibrant-wescoff-8f9e5c.netlify.com/products"
            data-item-description="Dummy description ">
            Add to cart
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}



<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100">

{{ partial "table" .Params.pricing }}

{{ end }}